################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App_Service/.vs
/App_Service/TiendaService.api.Autor/.vs/TiendaService.api.Autor
